.env
data/postgres-data/
data/tomcat/logs/
data/tomcat/webapps/*.war
data/pictures/*
!data/pictures/.gitkeep
data/videos/*
!data/videos/.gitkeep
data/cloudflared/*
!data/cloudflared/.gitkeep
data/web/certs/*
!data/web/certs/.gitkeep
frontend/node_modules/
frontend/dist/
frontend/.angular/
*.class
*.jar
*.war
target/
.DS_Store
.idea/
*.iml
